@{{email}}

Bonjour {{prenom}} {{nom}},

Votre adhésion à notre association (souscrite le {{date_debut}}) prendra fin le {{date_fin}}.

Si vous souhaitez réadhérer, vous pouvez le faire en allant sur notre site ou en nous contactant.


En espérant vous retrouver bientôt,
L'équipe de l'association
