<p>@{{email}}</p>

<p>Bonjour {{prenom}} {{nom}},</p>

<p>Votre adhésion à notre association (souscrite le {{date_debut}}) prendra fin le {{date_fin}}.</p>

<p>Si vous souhaitez réadhérer, vous pouvez le faire en allant sur notre site ou en nous contactant.</p>


<p>En espérant vous retrouver bientôt,<br>
L'équipe de l'association</p>
